@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #123432;
  --secondary: #456654;
  --accent: #abcdef;
}


/* Typography Styles */

h1 {
  @apply text-3xl md:text-5xl font-bold leading-tight tracking-tight;
}

h2 {
  @apply text-2xl md:text-4xl font-semibold leading-snug tracking-normal;
}

h3 {
  @apply text-xl md:text-2xl font-medium leading-snug tracking-normal;
}

p {
  @apply text-base md:text-lg text-muted-foreground leading-relaxed;
}